doctype html
html
  head
    title Title
    script(src="http://localhost:9091/")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js')
    link(rel='stylesheet' href='css/main.css')

  body
    #app Loading...

    script(src="js/index.js")
